 /*      font-family: 'Red Hat Display', sans-serif;*/

 body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif
 }

 .whole-card {
    padding-bottom: 20px;
    margin: 20% 5%;
    border-radius: 20px;
    background-color: white;

 }

 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
 }

 .description-part {
    text-align: center;
    margin: 8% 10%;
 }

 h1 {
    font-size: 22px;
    font-weight: 900;
 }

 .description {
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    line-height: 24px;
 }

 .plan-part {
    position: relative;
 }

 .icon {
    width: 15%;
    margin: 4% 12%;
 }

 .plan {
    position: absolute;
    top: 4%;
    left: 33%;
 }

 h2 {
    margin-bottom: -13px;
    font-size: 15px;
    font-weight: 900;
 }

 .plan p {
    font-size: 15.5px;
    font-weight: 400;
    color: hsl(224, 23%, 55%);
 }

 .plan-part + p {
    position: absolute;
    top: 59%;
    right: 16%;
    color: hsl(245, 75%, 52%);
    font-size: 13px;
    font-weight: 900;
    text-decoration: underline;
 }

 .buttons {
    text-align: center;
 }

 button {
    margin-top: 7%;
    padding: 15px 65px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 9px 20px -12px rgba(66, 68, 90, 1);
 }

 .cancel {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
 }

 @media(min-width: 1400px) {
    body {
       position: relative;
       background-image: url(images/pattern-background-desktop.svg);
       background-repeat: no-repeat;
       background-size: 100%;
       background-position: 100% 12%
    }

    .whole-card {
       position: absolute;
       padding-bottom: 20px;
       margin: 5% 36%;
       border-radius: 20px;
       background-color: white;
    }
 }

 h1 {
    font-size: 25px;
 }

 .icon {
    width: 11%;
    margin: 4% 15%;
 }

 .description {
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    line-height: 24px;
 }

 h2 {
    margin-bottom: -9px;
    font-size: 14px;
 }

 .plan p {
    font-size: 14px;
 }

 .plan {
    top: 7%;
    left: 30%;
 }

 .plan-part + p {
    top: 65.5%;
    right: 14.5%;
 }

 button {
    padding: 14px 90px;
    font-size: 14px;
 }

 .cancel {
    margin-top: 28px;
    font-size: 14px;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
 }

 @media(min-width: 1600px) {
    .whole-card {
       position: absolute;
       padding-bottom: 20px;
       margin: 4.5% 36%;
       border-radius: 20px;
       background-color: white;
    }

    h1 {
       font-size: 33px;
    }

    .icon {
       width: 9.5%;
       margin: 4% 16%;
    }

    .description {
       margin-bottom: -10px;
       font-size: 19px;
       line-height: 29px;
    }

    h2 {
       margin-bottom: -9px;
       font-size: 17px;
    }

    .plan p {
       font-size: 17px;
    }

    .plan {
       top: 7%;
       left: 30%;
    }

    .plan-part + p {
       top: 66%;
       right: 17%;
       font-size: 16px;
    }

    button {
       padding: 17px 120px;
       font-size: 20px;
    }

    .cancel {
       margin-top: 28px;
       margin-bottom: 25px;
       font-size: 18px;
       font-weight: 900;
       color: hsl(224, 23%, 55%);
    }
 }
